.header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    margin-top: 35px;
}
.header_img{
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align:top;
}
.title{
    display: inline-block;
    margin-top: 25px;
    font-size: 60px;
    line-height:50px;
    vertical-align: top;
    height:100px;
}
.grad_blue{
    background: SteelBlue;
    background: linear-gradient(Navy, SteelBlue, Navy);
}
.header_text{
    text-indent: 20px;
}
#wrapper{
    margin-top: -35px;
    background: white;
    background: linear-gradient(LightGrey, white, white, white);
    position:absolute;
    height:100%;
    width:100%;
}
.nav_bar{
    margin-top: 5px;
    width:18%;
    height: 230px;
    display: inline-block;
    border-bottom: 1px solid black;
    position: absolute;
}
.nav_bar>p{
    text-indent: 5px;
}
.nav_title{
    font-size:20px;
    font-style: bold;
}
.nav_button{
    width: 70%;
    height: 30px;
    margin-left:25px;
    margin-top:10px;
    border-radius:8px;
    font-size: 18px;
    opacity: 0.95;

}
.contact_bar{
    margin-left: 20%;
    margin-top: 20px;
    width:80%;
    height: 8%;
    position:absolute;
    border-bottom: 1px solid black;

}
.dns_link{
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    display:inline-block;
    vertical-align: top;
}
.contact_info{
    display: inline-block;
    position: absolute;
    right: 20px;
    text-align: center;
 }
.contact_logo{
    display: inline-block;
    position: absolute;
    right: 220px;
    top: -10px;
}
.phone_number{
    height: 30px;
    font-size: 35px;
    margin-top:-4px;
    line-height: 30px;
}
.small_text{
    height:10px;
    margin-top:-20px;
    font-size: 12px;
}
.bottom_text{
    margin-top: -30px;
}
.advertisement{
    position: absolute;
    top:280px;
}
.ad_image{
    z-index: -1;
}
.ad_text{
    position: absolute;
    top:40px;
    font-size:24px;
    text-align: center;
}
.ad_logo{
    position: absolute;
    top: 130px;
    left: 55px;
}
.ad_button{
    position: absolute;
    top: 280px;
    left:47px;	
    border-radius: 6px;
}
.main_body{
    position: absolute;
    left: 20%;
    top: 10%;
    width: 75%;
}
.body_title{
    font-size: 28px;
}
.body_img{
    margin-left: 260px;
}
.body_continuation{
    position: absolute;
    left: 20%;
    top: 670px;
    width: 75%;
    border: 5px solid RoyalBlue;
    border-bottom: none;
}
.body_continuation img{
    margin:15px;
    float: left;
}
.body_continuation p{
    margin-top: 10px;
    margin-left: 50px;
}
.body_continuation a{
    text-decoration: none;
    color: DarkTurquoise;
}
.blue_button{
    background: linear-gradient(LightSteelBlue, SteelBlue, LightSteelBlue);
}
.orange_button{
    background: linear-gradient(Tomato, OrangeRed, Tomato);
}
.blue{
    color: RoyalBlue;
}
.red{
    color: Red;
}
.white{
    color: white;
}
.light_blue{
    color: DarkTurquoise;

}
